{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
  <html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">


    <!-- KSS Stylesheet -->
    <link rel="stylesheet" href="/{{ styleguidepath }}/kss-assets/kss.css">
  </head>

  <body id="kss-node" {{ attributes.addClass(body_classes) }}>

  <!-- kss_styleguide styleguidepath: {{ styleguidepath }} -->
  {{ page }}

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

    <!-- KSS Javascript -->

    <script src="/{{ styleguidepath }}/kss-assets/kss.js"></script>
    <script src="/{{ styleguidepath }}/kss-assets/prettify.js"></script>
    <script src="/{{ styleguidepath }}/kss-assets/scrollspy.js"></script>

    <script>
      /**
       * Initialize prettyPrint
       * and hide codeblocks after in order to display them by clicking "Show Source".
       */
      prettyPrint(function(){
        var codeblocks = document.getElementsByClassName('prettyprint');
        Array.prototype.forEach.call(codeblocks, function(el) {
          el.className += " is-hidden";
          el.insertAdjacentHTML('beforebegin', '&nbsp;<a href="#" onclick="this.nextSibling.classList.remove(\'is-hidden\'); this.parentNode.removeChild(this); return false">Show Source</a>');
        });

      });
      var spy = new ScrollSpy('#kss-node', {
        nav: '.kss-nav__menu-child > li > a',
        className: 'is-in-viewport'
      });
    </script>

  </body>
</html>
